.tweetBackground {
    width: 100vw;
    height: 100vh;
    background-color: #c8c8c8;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tweetContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: rgb(177, 204, 226);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
 .closeBtn {
    float: right;
    padding-left: 420px;
 }